.title {
	font-size: 24px;
}

.profile {
  display: flex;
  align-items: flex-start; /* Align items to the top of the container */
}

.profile-image {
  margin-left: 20px; /* Adjust margin as needed */
  width: 150px; /* Set the width of the image */
}

.profile-text {
  font-size: 18px;
  flex: 1; /* Take up remaining space */
  text-align: justify; /* Align text on both sides */
}

.content-title {
	font-size: 24px;
  margin-bottom: 10px;
}

.content-text {
	font-size: 18px;
  margin-bottom: -20px;
}

@media screen and (max-width: 500px) {
  .profile {
    display: flex;
    flex-direction: column; /* Stack items vertically */
    align-items: center;
  }
  .profile-image {
    width: 120px; /* Set the width of the image */
    align-self: flex-start; /* Aligns image to the top */
    
  }
  .profile-text {
    order: 2; /* Change order of text to appear after image */
    margin-top: 20px; /* Add spacing between image and text */
    font-size: 16px;
    text-align: justify; /* Align text on both sides */
  }
  .content-text {
    font-size: 16px;
  }
}
