.work-item {
  //clear: both;
  //overflow: hidden;
  //padding-bottom: 0;
	display: flex;
	align-items: center;
}

.work-bubble {
  float: left;
  padding-right: 20px;
  //width: 100px;
  width: 30px;
  //height: 100px;
  vertical-align: bottom;
}

.pub-wrapper {
  display: flex;
  align-items: flex-start; /* top-aligns image and text */
  margin-top: 16px;        /* top margin for whole publication block */
}

.pub-bubble {
  width: 70px;
  margin-right: 1em;
  flex-shrink: 0;
}

.pub-bubble img {
  width: 100%;
  height: auto;
  display: block;
}

.pub-content {
	font-size: 16px;
}

.career-content {
	font-size: 20px;
}
.career-desc {
	font-size: 16px;
	padding-left: 40px;
}

ul {
  //list-style-position: inside;
  list-style-position: outside;
}

li {
	//padding-left: 10px;
	padding-bottom: 10px;
}

li > ul {
  padding-top: 10px; 
}
