<!DOCTYPE html>
<html>
  {% include head.html %}

  <body>
    {% include header.html %}

	<div class="page-content">
		<div class="wrapper">
			<div class="blog-post-list">
				<h4> My blog post list </h4>
		
				{% for post in site.posts %}
					<div class="blog-post-item">
					
						<span class="blog-post-date">
							{{ post.date | date: "%m-%d-%Y" }}
						</span>
					
						<a href="{{ post.url | replace:".html","" | prepend: site.baseurl }}" class="blog-post-title">
							{{ post.title }}
						</a>
		
					</div>
					
				{% endfor %}
			</div>
		
		</div>
	</div>


 

    {% include footer.html %}

    {% include foot.html %}
  </body>
</html>
