<!DOCTYPE html>
<html>
  {% include head.html %}

  <body>
    {% include header.html %}

	<div class="page-content">
		<div class="wrapper">
			<p style="font-size: 18px;">
				This is a brief explanation on my career.
			</p>
			<br>
			
			<!-- 1) Education -->
			<div class="work-item">
				<img
					src="{{ "/assets/img/career/education.png" | absolute_url }}"
					alt=Education
					class="work-bubble"
				/>
				<span class="career-content"> <strong>
					Education
				</strong> </span>
			</div>
			
			<span class="career-desc">
				<ul>
					<li>
						[2024.03 (Expected) ~ ] <strong>Seoul National University</strong>
						<ul>
							<li>
								M.S/Ph.D Combined Program in <strong>Electrical and Computer Engineering</strong>
							</li>
						</ul>
					</li>
					
					<li>
						[2018.03 ~ 2024.02 (Expected)] <strong>Seoul National University</strong>
						<ul>
							<li>
								B.S in <strong>Electrical and Computer Engineering</strong>
							</li>
						</ul>
					
					</li>
				</ul>
			</span>
			
			<br>
			
			<!-- 2) Work experience -->
			<div class="work-item">
				<img
					src="{{ "/assets/img/career/work.png" | absolute_url }}"
					alt=Work
					class="work-bubble"
				/>
				<span class="career-content"> <strong>
					Work Experience
				</strong> </span>
			</div>
			
			
			
			<span class="career-desc">
				<ul>
					<li>
						[2023.06 ~ 2023.12] <strong>Computer Architecture and Systems Lab </strong>(CompArch), Seoul National University,
						<em>Undergraduate intern</em>
					</li>
					
					<li>
						[2023.01 ~ 2023.06] <strong>Networked Computing and ML Lab </strong> (NXC), Seoul National University,
						<em>Undergraduate intern with project</em>
					</li>
					
					<li>
						[2022.07 ~ 2022.08] <strong>Next-Generation Communication Research Center, Samsung Research</strong>, Samsung Electronics,
						<em>Summer internship</em>
						
					</li>
				</ul>
			</span>
			
			<br>
			
			<!-- 3) Teaching experience -->
			<div class="work-item">
				<img
					src="{{ "/assets/img/career/teaching.png" | absolute_url }}"
					alt=Work
					class="work-bubble"
				/>
				<span class="career-content"> <strong>
					Teaching Experience
				</strong> </span>
			</div>
			
			<span class="career-desc">
				<ul>
					<li>
						[2023 Fall] <strong> Digital Systems Design and Experiments</strong>, Electrical and Computer Engineering in SNU,
						<em>Undergraduate study tutor</em>
					</li>
				
					<li>
						[2023 Fall, 2023 Spring, 2022 Fall, 2022 Spring] <strong> Basic Computing</strong>: First Adventures in Computing, 
						Faculty of Liberal Education in SNU,
						<em>Lab tutor</em>
					</li>
					
					<li>
						[2023 Spring] <strong> Computer Organization</strong>, Electrical and Computer Engineering in SNU,
						<em>Tutor for multi major students</em>
					</li>
					
					<li>
						[2022 Fall] <strong> Digital Logic Design and Lab</strong>, Electrical and Computer Engineering in SNU,
						<em>Tutor for multi major students</em>
					</li>
					

				</ul>
			</span>
			
			<br>
			
			<!-- 4) Honors and awards -->
			<div class="work-item">
				<img
					src="{{ "/assets/img/career/awards.png" | absolute_url }}"
					alt=Honors
					class="work-bubble"
				/>
				<span class="career-content"> <strong>
					Honors and Awards
				</strong> </span>
			</div>
			
			<span class="career-desc">
				<ul>
					<li>
						[2023.12] <strong>Outstanding Tutor Award</strong> for <em>Basic Computing</em> course,
						Faculty of Liberal Education, Seoul National University
					</li>
					
					<li>
						[2018.03 ~ 2023.06] <strong>Full tuition Scholarship</strong> with <strong>National Science and Engineering Scholarship</strong>,
						Korea Student Aid Foundation (KOSAF)
					</li>
					
					
				</ul>
			</span>
			
			<br>
			
			<!-- 5) Skills -->
			<div class="work-item">
				<img
					src="{{ "/assets/img/career/skill.png" | absolute_url }}"
					alt=Work
					class="work-bubble"
				/>
				<span class="career-content"> <strong>
					Skills
				</strong> </span>
			</div>
			
			<span class="career-desc">
				<ul>
					<li>
						Programming language
						<!-- Sub list for programming language -->
						<ul>
							<li>
								Python, C, C++, Verilog
							</li>
						</ul>
					</li>
					
					<li>
						Library/Framework/Platform/Tools
						<!-- Sub list for frameworks -->
						<ul>
							<li>
								Matplotlib, Pandas (Python) / Pytorch, CUDA / Linux, Windows / Xilinx Vivado
							</li>
						</ul>
					</li>
					
					<li>
						Spoken language
						<!-- Sub list for platforms -->
						<ul>
							<li>
								Korean (Native), English
							</li>
						</ul>
					</li>
					
					
					
				</ul>
			</span>
			
			<br>
			
			<!-- 6) Miscellaneous -->
			<div class="work-item">
				<img
					src="{{ "/assets/img/career/etc.png" | absolute_url }}"
					alt=Work
					class="work-bubble"
				/>
				<span class="career-content"> <strong>
					Miscellaneous ...
				</strong> </span>
			</div>
			
			<span class="career-desc">
				<ul>
					<li>
						[2020.07 ~ 2022.01] Military Service at Republic of Korea Army
					</li>
					
				</ul>
			</span>
			
			<br>
			
		</div>
	</div>
	
	
		


			
	<span class="career-desc">
		{{ item.description }}
	</span>
			


    {% include footer.html %}

    {% include foot.html %}
  </body>
</html>
