<!DOCTYPE html>
<html>
  {% include head.html %}

  <body>
    {% include header.html %}

	<div class="page-content">
		<div class="wrapper">
			<p style="font-size: 18px;">
				This is a brief explanation on my career.
			</p>
			<br>
			
			<!-- 1) Education -->
			<div class="work-item">
				<img
					src="{{ "/assets/img/career/education.png" | absolute_url }}"
					alt=Education
					class="work-bubble"
				/>
				<span class="career-content"> <strong>
					Education
				</strong> </span>
			</div>
			
			<span class="career-desc">
				<ul>
					<li>
						Seoul National University (SNU)
						<ul>
							<li>
								[2018.03 ~ ] Undergraduate student at <strong>Electrical and Computer Engineering</strong> (ECE)
							</li>
						</ul>
					</li>
				</ul>
			</span>
			
			<br>
			
			<!-- 2) Work experience -->
			<div class="work-item">
				<img
					src="{{ "/assets/img/career/work.png" | absolute_url }}"
					alt=Work
					class="work-bubble"
				/>
				<span class="career-content"> <strong>
					Work Experience
				</strong> </span>
			</div>
			
			
			
			<span class="career-desc">
				<ul>
					<li>
						[2023.06 ~ ] Computer Architecture and System Lab (CompArch), Seoul National University (SNU),
						<em>Undergraduate intern</em>
					</li>
					
					<li>
						[2023.01 ~ 2023.06] <strong>Networked Computing and ML Lab </strong> (NXC), Seoul National University (SNU),
						<em>Undergraduate intern with project</em>
					</li>
					
					<li>
						[2022.07 ~ 2022.08] <strong>Next-Generation Communication Research Center, Samsung Research</strong>, Samsung Electronics,
						<em>Summer internship</em>
						
					</li>
				</ul>
			</span>
			
			<br>
			
			<!-- 3) Teaching experience -->
			<div class="work-item">
				<img
					src="{{ "/assets/img/career/teaching.png" | absolute_url }}"
					alt=Work
					class="work-bubble"
				/>
				<span class="career-content"> <strong>
					Teaching Experience
				</strong> </span>
			</div>
			
			<span class="career-desc">
				<ul>
					<li>
						[2023 Spring, 2022 Fall, 2022 Spring] <strong> Basic Computing</strong>: First Adventures in Computing, Faculty of Liberal Education (SNU),
						<em>Lab tutor</em>
					</li>
					
					<li>
						[2023 Spring] <strong> Computer Organization</strong>, Electrical and Computer Engineering (SNU),
						<em>Tutor for multi major students</em>
					</li>
					
					<li>
						[2022 Fall] <strong> Digital Logic Design and Lab</strong>, Electrical and Computer Engineering (SNU),
						<em>Tutor for multi major students</em>
					</li>
					

				</ul>
			</span>
			
			<br>
			
			<!-- 4) Honors and awards -->
			<div class="work-item">
				<img
					src="{{ "/assets/img/career/awards.png" | absolute_url }}"
					alt=Honors
					class="work-bubble"
				/>
				<span class="career-content"> <strong>
					Honors and Awards
				</strong> </span>
			</div>
			
			<span class="career-desc">
				<ul>
					<li>
						[2018.03 ~ 2023.06] <strong>National Science and Engineering Scholarship</strong>, Korea Student Aid Foundation (KOSAF),
						<em>Full tuition scholarship</em>
					</li>
					
					
				</ul>
			</span>
			
			<br>
			
			<!-- 5) Skills -->
			<div class="work-item">
				<img
					src="{{ "/assets/img/career/skill.png" | absolute_url }}"
					alt=Work
					class="work-bubble"
				/>
				<span class="career-content"> <strong>
					Skills
				</strong> </span>
			</div>
			
			<span class="career-desc">
				<ul>
					<li>
						Programming language
						<!-- Sub list for programming language -->
						<ul>
							<li>
								Python, C, Verilog
							</li>
						</ul>
					</li>
					
					<li>
						Framework, Platform, Tools
						<!-- Sub list for frameworks -->
						<ul>
							<li>
								Pytorch, Linux, Windows, Xilinx Vivado
							</li>
						</ul>
					</li>
					
					<li>
						Language
						<!-- Sub list for platforms -->
						<ul>
							<li>
								Korean (Native), English
							</li>
						</ul>
					</li>
					
					
					
				</ul>
			</span>
			
			<br>
			
			<!-- 6) Miscellaneous -->
			<div class="work-item">
				<img
					src="{{ "/assets/img/career/etc.png" | absolute_url }}"
					alt=Work
					class="work-bubble"
				/>
				<span class="career-content"> <strong>
					Miscellaneous ...
				</strong> </span>
			</div>
			
			<span class="career-desc">
				<ul>
					<li>
						[2020.07 ~ 2022.01] Military Service
					</li>
					
					
				</ul>
			</span>
			
			<br>
			
		</div>
	</div>
	
	
		


			
	<span class="career-desc">
		{{ item.description }}
	</span>
			


    {% include footer.html %}

    {% include foot.html %}
  </body>
</html>
