<!DOCTYPE html>
<html>
  {% include head.html %}

  <body>
    {% include header.html %}

	<div class="page-content">
		<div class="wrapper">
			<p style="font-size: 18px;">
				This is a brief explanation on my career. Here is my <a href="/assets/pdf/CV_SoohyunCha_250521.pdf" target="_blank">CV</a>.
			</p>
			<br>
			
			<!-- 1) Education -->
			<div class="work-item">
				<img
					src="{{ "/assets/img/career/education.png" | absolute_url }}"
					alt=Education
					class="work-bubble"
				/>
				<span class="career-content"> <strong>
					Education
				</strong> </span>
			</div>
			
			<span class="career-desc">
				<ul style="line-height: 1.4;">
					<li>
						[2024.03 ~ ] <strong>Seoul National University</strong>
						<ul>
							<li>
								M.S program in <strong>Electrical and Computer Engineering</strong> (Advisor: Jaewoong Sim)
							</li>
							<li>
								Research interest: System & architectural support for efficient serving of emerging workload like large language models
							</li>
						</ul>
					</li>
					
					<li>
						[2018.03 ~ 2024.02] <strong>Seoul National University</strong>
						<ul style="line-height: 1.0;">
							<li>
								B.S in <strong>Electrical and Computer Engineering</strong>
							</li>
							<li>
								<em>Cum Laude</em>
							</li>
						</ul>
					
					</li>
				</ul>
			</span>
			
			<br>
			
			<!-- 2) Work experience -->
			<div class="work-item">
				<img
					src="{{ "/assets/img/career/work.png" | absolute_url }}"
					alt=Work
					class="work-bubble"
				/>
				<span class="career-content"> <strong>
					Work Experience
				</strong> </span>
			</div>
			
			
			
			<span class="career-desc">
				<ul style="line-height: 1.4;">
					<li>
						[2024.03 ~ ] <strong>Computer Architecture and Systems Lab </strong>, Seoul National University,
						<em>Graduate research assistant</em>
					</li>

					<li>
						[2023.06 ~ 2024.02] <strong>Computer Architecture and Systems Lab </strong>, Seoul National University,
						<em>Undergraduate intern</em>
					</li>
					
					<!--<li>
						[2023.01 ~ 2023.06] <strong>Networked Computing and ML Lab </strong>, Seoul National University,
						<em>Undergraduate intern with project</em>
					</li> -->
					
					<li>
						[2022.07 ~ 2022.08] <strong>Next-Generation Communication Research Center, Samsung Research</strong>, Samsung Electronics,
						<em>Summer internship</em>
						
					</li>
				</ul>
			</span>
			
			<br>
			
			<!-- 3) Teaching experience -->
			<div class="work-item">
				<img
					src="{{ "/assets/img/career/teaching.png" | absolute_url }}"
					alt=Work
					class="work-bubble"
				/>
				<span class="career-content" id="id-teaching"> <strong>
					Teaching Experience
				</strong> </span>
			</div>
			
			<span class="career-desc">
				<ul style="line-height: 1.4;">
					<!-- <li>
						<strong> Digital Systems Design</strong>, Samsung Electronics DS Course, SNU
						<ul style="line-height: 1.0;">
							<li>
								[25' Spring, 24' Summer 24' Spring] Lab session lecturer & Project TA
							</li>
						</ul>
					</li> -->

					<li>
						<strong> Digital System Design and Experiments</strong>, ECE 315A, SNU
						<ul style="line-height: 1.0;">
							<li>
								[24' Fall] Graduate TA & Lab session lecturer
							</li>
							<li>
								[23' Fall] Undergrauate course Q&A tutor
							</li>
						</ul>
					</li>

					<li>
						<strong> Computer Organization</strong>, ECE 322, SNU
						<ul style="line-height: 1.0;">
							<li>
								[24' Spring] Graduate TA & Recitation session lecturer
							</li>
							<li>
								[23' Spring] Undergraduate tutor for multi major students
							</li>
						</ul>
					</li>
				
					<li>
						<strong> Basic Computing: First Adventures in Computing</strong>, Faculty of Liberal Education, SNU
						<ul style="line-height: 1.0;">
							<li>
								[23' Fall, 23' Spring, 22' Fall, 22' Spring] Undergraduate lab Q&A tutor
							</li>
						</ul>
					</li>
					
					<li>
						<strong> Digital Logic Design and Lab</strong>, ECE 201A, SNU
						<ul style="line-height: 1.0;">
							<li>
								[22' Fall] Undergraduate tutor for multi major students
							</li>
						</ul>
					</li>
					

				</ul>
			</span>
			
			<br>
			
			<!-- 4) Honors and awards -->
			<div class="work-item">
				<img
					src="{{ "/assets/img/career/awards.png" | absolute_url }}"
					alt=Honors
					class="work-bubble"
				/>
				<span class="career-content"> <strong>
					Honors and Awards
				</strong> </span>
			</div>
			
			<span class="career-desc">
				<ul style="line-height: 1.4;">
					<li>
						[2023.12] <strong>Outstanding Tutor Award</strong> for <em>Basic Computing</em> course,
						Faculty of Liberal Education, SNU
					</li>
					
					<li>
						[2018.03 ~ 2023.06] <strong>Full tuition Scholarship</strong> with <strong>National Science and Engineering Scholarship</strong>,
						Korea Student Aid Foundation (KOSAF)
					</li>
					
					
				</ul>
			</span>
			
			<br>
			
			<!-- 5) Skills -->
			<div class="work-item">
				<img
					src="{{ "/assets/img/career/skill.png" | absolute_url }}"
					alt=Work
					class="work-bubble"
				/>
				<span class="career-content"> <strong>
					Skills
				</strong> </span>
			</div>
			
			<span class="career-desc">
				<ul style="line-height: 1.4;">
					<li>
						Programming language
						<!-- Sub list for programming language -->
						<ul style="line-height: 1.0;">
							<li>
								Python, C/C++/CUDA, Verilog/SystemVerilog
							</li>
						</ul>
					</li>
					
					<li>
						Tools
						<!-- Sub list for frameworks -->
						<ul style="line-height: 1.0;">
							<li>
								Matplotlib, Pandas (Python Library)
							</li>
							<li>
								Pytorch, Tensorflow (ML Framework)
							</li>
							<li>
								Xilinx Vivado, Synopsys Design Compiler (Rtl Design Tool)
							</li>
						</ul>
					</li>
					
					<li>
						Spoken language
						<!-- Sub list for platforms -->
						<ul>
							<li>
								Korean (Native), English
							</li>
						</ul>
					</li>
					
					
					
				</ul>
			</span>
			
			<br>
			
			<!-- 6) Miscellaneous -->
			<div class="work-item">
				<img
					src="{{ "/assets/img/career/etc.png" | absolute_url }}"
					alt=Work
					class="work-bubble"
				/>
				<span class="career-content"> <strong>
					Miscellaneous ...
				</strong> </span>
			</div>
			
			<span class="career-desc">
				<ul style="line-height: 1.4;">
					<li>
						[2020.07 ~ 2022.01] Military Service at Republic of Korea Army
					</li>
					
				</ul>
			</span>
			
			<br>
			
		</div>
	</div>
	
	
		


			
	<span class="career-desc">
		{{ item.description }}
	</span>
			


    {% include footer.html %}

    {% include foot.html %}
  </body>
</html>
