<!DOCTYPE html>
<html>
  {% include head.html %}

  <body>
    {% include header.html %}

    <div class="page-content">
      <div class="wrapper">
        <div class="title">
          Welcome to my personal blog. 
        </div>

        <br>

        <div class="profile">
          <div class="profile-text">
            I am Soohyun Cha, M.S student in Electrical and Computer Engineering (ECE), Seoul National University (SNU).
            I'm currently working in Computer Architecture & Systems Lab (CompArch), advised by Prof. Jaewoong Sim.

            <div style="line-height:0.5">
              <br>
            </div>
            
            My research interests are computer architecture, especially building an efficient SW-HW co-designed system
            for emerging workloads, such as ML.
          </div>

          <div class="profile-image">
            <img
              src="{{ "/assets/img/personal_image_202207.jpg" | absolute_url }}"
              alt=Profile
            />
          </div>

        </div>

        <br>
        <br>

        <div class="content-title">
          <a href="{{ "/career.html" | absolute_url }}#id-teaching"> Teaching Experience </a>
        </div>


        <div class="content-text">
          [2024 Spring] <strong> Digital System Design</strong>, Samsung Electronics System Expert, SNU
          <div class="content-subtext">
            <ul style="line-height: 1.3">
              <li>
                Teaching Assistant & Lab Session Lecturer
              </li>
            </ul>
          </div>
        </div>

        <div class="content-text">
          [2024 Spring] <strong> Computer Organization</strong>, ECE 322, SNU
          <div class="content-subtext">
            <ul style="line-height: 1.3">
              <li>
                Teaching Assistant & Recitation Session Lecturer
              </li>
            </ul>
          </div>
        </div>


        <!-- <div class="home">
          <img
            src="{{ page.profile_picture.src | absolute_url }}"
            alt="{{ page.profile_picture.alt }}"
            class="profile-pic"
          />

          {{ content }}
        </div> -->


      </div>
    </div>

    {% include footer.html %}

    {% include foot.html %}
  </body>
</html>
